.a
{
  width:300px;
  font-size: 20px;
  font-family:arial;
  display:inline-block
}
.b,
.c
{
  background-color: rgb(12, 176, 241);
  padding:7px 10px 7px 10px;
  border-radius: 5px;
  border: none;
  color:white;
  font-weight:bold;
  margin-bottom:50px;
  vertical-align: middle;
  transition: background-color 0.3s,box-shadow 0.3s,cursor 0.3s;
}
.b:hover,
.c:hover
{
  background-color: blueviolet;
  box-shadow: 4px 4px 13px black;
  cursor:pointer;
}
.b:active,
.c:active
{
  background-color: rgb(208, 43, 43);
  box-shadow: 4px 4px 13px rgb(3, 55, 103);
  cursor:pointer;
}