.g
{
  width:750px;
  text-align:middle;
}
.b
{
  display: block;
  width:700px;
  padding:10px 15px 10px 15px;
  border-radius:20px;
  box-shadow:5px 5px 20px black;
  border:none;
  margin-left: 140px;
  margin-top:10px;
}
.f
{
  width:450px;
  text-align: center;
}
.h-a
{
  padding:4px 9px 4px 9px;
  border-radius: 3px;
}
.h-b
{
  padding:4px 9px 4px 9px;
  border-radius: 3px;
}
.h
{
  width:450px;
  text-align: middle;
  padding-left:200px;
}