p
{
  font-family: arial;
  color:gray;
  font-size:14px;
}
.b
{
  border-radius: 5px;
  width: 330px;
}
.d
{
  background-color: rgb(11, 83, 227);
  color:white;
  font-family:arial;
  border:none;
  border-radius:20px;
  padding:15px 120px 15px 120px;
  margin-left: 10px;
  transition:box-shadow 0.25s,cursor 0.25s opacity 0.25s;
}
.d:hover
{
  box-shadow: 3px 3px 9px black;
  cursor:pointer;
  opacity: 0.8;
}
.d:active
{
  background-color: rgb(4, 25, 211);
}